canvas{
    width:600pt;
    height:400pt; 
    background-color: rgb(222, 235, 248); 
    border:2px solid black; 
}
button{
    border-style:groove;
    font-size: medium;
    background-color: rgb(22, 189, 30);
}